<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>スタート画面</title>
    <link rel="stylesheet" href="styles.css">
</head>
 
<body>
    <div class="container">
        <h1 class="rounded-heading-1">ラブラブチェッカーくん</h1>
        <p class="info-box">この診断ではアンケートに答えてもらい、気になるあの子の脈あり度合いを診断します。
           <br>
           診断をして、自信をもらおう！！
        </p>
         <a href="enquete1.html" class="btn btn-secondary"> ▶️  診断開始</button></a>
    </div>
     

    <script>
        document.getElementById('startButton').addEventListener('click', function() {
            alert('アンケート画面へ移動します！');
        });
    </script>
</body>
</html>